@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100');

body {
    font-family: "Roboto", Helvetica, sans-serif; 
    /* A fonte de escrita mais próxima da fonte de escrita do GitHub que encontrei foi a Roboto; coloquei a Helvetica e a sans-serif por padrão dos meus projetos. */
    margin: 2em auto;
}

.logo-github-svg {
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 20px;
}

h1 {
    font-size: x-large;
    text-align: center;
    margin-top: 60px;
}

.div-form {
    font-weight: bold;
    text-align: justify;
    width: 50%;
    border: 1px #b5b5b5 solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 400px;
    display: block;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #F5F5F5;
}

.div-form input {
    border-radius: 5px;
    border: 1px #FFFFFF;
    height: 25px;
    width: 360px;
    padding-top: 5px;
}

.create-account {
    font-weight: bold;
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px #b5b5b5 solid;
    border-radius: 5px;
    margin: 2em auto;
    padding: 8px;
    position: relative;
}

.password-reset {
    font-size: small;
    margin-left: 170px;
}

.div-form button {
    border: #00933A 2px;
    text-align: center;
    color: #FFFFFF;
    background-color: #00933A;
    border-radius: 5px;
    padding: 5px;
    width: 370px;
}

.div-form button:hover {
    background-color: #00a743;
    border: #00a743;
}

.footer-div {
    font-family: Calibri, sans-serif;
    font-size: 13px;
    text-align: center;
    justify-content: center;
}

.footer-link .support-link {
    color: #000000;
}

.footer-link .support-link:hover {
    color:#0000FF;
}

li.footer-link {
    list-style: none;
    display: inline;
    padding: 10px;
}

a {
    text-decoration: none;
}
